/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Typography */
* {
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
  font-size: 38px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.nav-item {
  font-family: Roboto;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
}

h6 {
  font-size: 25px;
}

.big-title-1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 100px;
  font-weight: bold;
}

.big-title-2 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
  font-weight: bold;
}

/* Navigation  */
.header-container {
  position: relative;
  margin: 0 auto;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 70px;
}

.site-logo {
  padding-right: 25px;
}

.headernav-info {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
}

/* Mobile Menu  */

.mobile-menu {
  transform: scale(1);
  opacity: 1;
  padding: 20px 15px;
  margin-top: -40px;
}

.mobile-menu-card {
  box-sizing: border-box;
  position: relative;
  min-width: 100px;
  min-height: 500px;
  padding: 20px 30px;
  background-color: black;
  color: white;
}

.mobile-menu-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.solid-divider {
  border: 1px solid #fff;
}

.mobile-nav-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.mobile-menu-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;

  letter-spacing: -0.02em;
}

/* Web Menu  */
.web-menu-container {
  box-sizing: border-box;
  position: absolute;
  transform: scale(1);
  opacity: 1;
  z-index: 100;
  top: 95px;
  min-width: 500px;
  /* min-height: 438px; */
  padding: 47px 40px;
  background-color: black;
  color: white;
}

.web-menu-box {
  position: relative;
}

.web-menu-list {
  width: 50%;
  float: left;
  /* Font styles */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */

  letter-spacing: -0.02em;
}

/* Hero Hection */
.hero-container {
  display: block;
  min-height: 572px;
  margin-bottom: 200px;
  /* Image styling  */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../src/assets/bg/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.hero-image {
  width: 100%;
  height: 100%;
}
.hero-title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 100px;
  padding-top: 250px;
  padding-bottom: 250px;
  color: white;
}

.hero-block-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  background-color: #e1e6eb;
  font-weight: bold;
  padding: 2em;
  margin-top: -100px;
  margin-left: 15%;
  margin-right: 15%;
}

.hero-button {
  /* positioning */
  left: 50%;
  margin-left: -120px;
  margin-top: -120px;
  position: absolute;
}

/* Logos */
.logo-partners {
  width: 100%;
  height: 100px;
}
/* Galleries */
.large-gallery-row {
  min-height: 1000px;
  align-items: flex-end;
}

.gallery-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: (rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.custom-button-react {
  /* styling */
  padding: 15px 40px;
  border-radius: 0rem;
  z-index: 100;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0038ff;
}

/* Testimonial */
.testimonial-container {
  background-color: #0038ff;
  padding: 70px 66px;
}

.testimonial-intro {
  color: white;
  padding-bottom: 50px;
}

.card-box {
  padding: 25px 32px;
}

.card-text {
  font-size: 25px;
  line-height: 45px;
  letter-spacing: 0.03em;
  padding-top: 34px;
}

/* .slick-arrow{
  width: 90px;
  height:90px;
  border-style: solid;
  border-radius: 50%;
  background-color: transparent;
} */

/* Marketing */

.marketing-title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 50px;
  text-transform: uppercase;
}

.callout-title {
  margin-top: 276px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
}

.marketing-callout {
  margin-bottom: 197px;
}

/* footer */
.footer {
  background-color: black;
  color: white;
}
